/*--------------------Estilos alerta---------------------*/
.ui-widget-header {
    border: 1px solid #477f20 !important;
    background-color: #477f20 !important;
    background: #477f20 !important;
}

.ui-dialog .ui-dialog-buttonpane button{
    background:#477f20 !important;
    border: 1px solid #477f20 !important;
    color: white;
}

.ui-icon-closethick {
    background-image: url('../images/ui/close.png') !important;
    background-position: 25% 20%;;
}